@import 'Variables.sass'

html, body
    height: 100% // Занимаем всю высоту окна
    margin: 0
    overflow: hidden // Отключаем глобальную прокрутку

#root
    height: 100% // Расширяем root на всю высоту
    display: flex
    flex-direction: column

.App
    height: calc(100% - 70px) // Высота с учетом фиксированного menu
    padding: 0px 10px 10px 10px
    width: 400px
    overflow-y: auto // Прокрутка внутри приложения
    display: flex
    flex-direction: column

.header
    width: 100%
    height: 50px
    display: flex
    justify-content: center

.menu
    position: fixed
    bottom: 0
    height: 70px
    width: 100%
    background-color: #f1f1f1
    box-shadow: 0px 0px 4px black
    border-top-left-radius: 16px
    border-top-right-radius: 16px
    &__navbar
        display: flex
        justify-content: center
        &_links
            display: flex
            width: 100%
            padding: 20px 30px
            justify-content: space-between
            list-style-type: none
            &-item
                a
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    color: black
                    text-decoration: none
                    font-size: 14px
            &-item.active
                a
                    color: $main-color

.searchBar
    width: 100%
    input
        width: 100%
        padding: 10px
        border-radius: 10px
        border: 1px solid #ccc
        box-sizing: border-box
        &:active, &:focus, &:hover
            outline: 0
            outline-offset: 0

.deviceList
    flex-grow: 1 // Растягиваем список устройств
    overflow-y: auto // Прокрутка внутри списка
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    gap: 15px
    padding: 10px 10px 70px 10px 
    box-sizing: border-box
    