@import 'Variables.sass'

@media ( max-width : 400px )
    .App
        width: 380px
    .menu
        height: 60px
        padding-bottom: 0px
    .device
        &__items
            &_image
                height: 280px
                width: 70%
            &_name
                margin-top: 0px
            &_description
                margin-top: 0px
    .buttons
        &__items
            &_3D
                scale: 0.9
                &_active
                    scale: 0.8
            &_order
                scale: 0.9
    .cart
        &__items
            &_card
                &-details
                    &_quantity
                        button
                            padding-right: 5px
        &__service
            padding-bottom: 0px
            margin-top: 30px
            &_clear
                width: 200px
                scale: 0.9
                font-size: 15px
            &_order
                width: 200px
                scale: 0.9
                font-size: 15px
    .addDevice
        margin-top: 0px
        &__title
            margin-top: 0px
        &__form
            margin-top: 0px
                        
